@import '../../../../styles/variables.scss';

.dashboard-temp {
  padding: 0px;

  h2 {
    font-size: 24px;
    color: $cap-navy;
    text-align: center;
  }

  h4 {
    width: 100%;
    font-size: 20px;
    color: $cap-gray;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

}
