<div class="testing">
  <!--<button class="mr-2" (click)="showOpenWith()">Show Open With</button>
  <button class="mr-2" (click)="showContentExplorer()">Show Box Explorer</button>
  <button class="mr-2" (click)="showContentUploader()">Show Box Uploader</button>

  <div id="box-open-with"></div>
  <div id="box-content-explorer"></div>
  <div id="box-content-uploader"></div>-->

  <!--<app-box-file-uploader [settings]="
  {
    boxParentId: '121937861336'
  }
  " (itemsUploaded)="fileUploadComplete($event)"></app-box-file-uploader>
<app-file-search></app-file-search>-->
</div>
