<div class="box-file-uploader">
  <button mat-flat-button (click)="showContentUploader()" *ngIf="uploaderOpen === false">
    <i class="fas fa-paperclip"></i>
    <span>Attach Files</span>
  </button>
  <div *ngIf="files.length > 0">
    <ul>
      <ng-container *ngFor="let file of files; let i = index;">
        <li>{{ file.name }} <a class="btn-file-remove"
            (click)="deleteFile(i)"><i class="fas fa-minus-circle"></i></a></li>
      </ng-container>
    </ul>
  </div>
  <div id="box-content-uploader"></div>
</div>
