@font-face {
    font-family: 'Proxima-Nova-A-Medium';
    src: url('../assets/fonts/Proxima-Nova-A-Medium.otf') format('opentype'),url('../assets/fonts/Proxima-Nova-A-Medium.ttf') format('truetype'),url('../assets/fonts/Proxima-Nova-A-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-Bold';
    src: url('../assets/fonts/Proxima-Nova-Bold.otf') format('opentype'),url('../assets/fonts/Proxima-Nova-Bold.ttf') format('truetype'),url('../assets/fonts/Proxima-Nova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-Black';
    src: url('../assets/fonts/Proxima-Nova-Black.otf') format('opentype'),url('../assets/fonts/Proxima-Nova-Black.ttf') format('truetype'),url('../assets/fonts/Proxima-Nova-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-Black-Italic';
    src: url('../assets/fonts/Proxima-Nova-Black-It.otf') format('opentype'),url('../assets/fonts/Proxima-Nova-Black-It.ttf') format('truetype'),url('../assets/fonts/Proxima-Nova-Black-It.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url('../assets/fonts/Proxima-Nova-Reg.otf') format('opentype'),url('../assets/fonts/Proxima-Nova-Reg.ttf') format('truetype'),url('../assets/fonts/Proxima-Nova-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-Light';
    src: url('../assets/fonts/Proxima-Nova-Light.otf') format('opentype'),url('../assets/fonts/Proxima-Nova-Light.ttf') format('truetype'),url('../assets/fonts/Proxima-Nova-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'BrandonText-Regular';
    src: url('../assets/fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/BrandonText-Regular.woff') format('woff'),url('../assets/fonts/BrandonText-Regular.ttf') format('truetype'),url('../assets/fonts/BrandonText-Regular.svg#BrandonText-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: 'BrandonText-RegularItalic';
    src: url('../assets/fonts/BrandonText-RegularItalic.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/BrandonText-RegularItalic.woff') format('woff'),url('../assets/fonts/BrandonText-RegularItalic.ttf') format('truetype'),url('../assets/fonts/BrandonText-RegularItalic.svg#BrandonText-Regular') format('svg');
    font-style: italic;
    font-weight: normal;
}

@font-face{
    font-family: 'BrandonText-Medium';
    src:url('../assets/fonts/BrandonText-Medium.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/BrandonText-Medium.woff') format('woff'),url('../assets/fonts/BrandonText-Medium.ttf') format('truetype'),url('../assets/fonts/BrandonText-Medium.svg#BrandonText-Regular') format('svg');
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'BrandonText-Bold';
    src:url('../assets/fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/BrandonText-Bold.woff') format('woff'),url('../assets/fonts/BrandonText-Bold.ttf') format('truetype'),url('../assets/fonts/BrandonText-Bold.svg#BrandonText-Regular') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'BrandonText-Black';
    src: url('../assets/fonts/BrandonText-Black.eot?#iefix') format('embedded-opentype'),url('../assets/fonts/BrandonText-Black.woff') format('woff'),url('../assets/fonts/BrandonText-Black.ttf') format('truetype'),url('../assets/fonts/BrandonText-Black.svg#BrandonText-Regular') format('svg');
    font-style: normal;
    font-weight: 700;
}
