@import './variables.scss';
/*.table-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid $cap-gray-hl-2;
    .data-table {
        width: 100%;
        min-width: 1400px;
        a {
            color: $cap-navy;
        }
        a.mat-raised-button.mat-primary {
            color: $cap-white;
            font-size: 16px;
            line-height: 16px;
            padding: 8px 15px 8px 15px;
        }
        a.mat-raised-button.mat-primary:hover {
            color: $cap-white;
            background-color: $cap-gray;
        }
        .mat-icon {
            color: $cap-blue;
        }
    }
}

.paginator {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid $cap-gray-hl-2;
    border-top: none;
    overflow: hidden;
}*/